fastapi
pydantic
uvicorn[standard]
sqlalchemy
python-dotenv
python-jose[cryptography]
bcrypt==4.2.0
python-docx
lxml
python-multipart
aiofiles
python-barcode[images]
Pillow
slowapi
alembic
docx2pdf
psutil
pymupdf
